/* Global */
.jumbotron h1 {
    font-size: 50px;
}

.jumbotron p {
    font-size: medium;
    color: #888;
}

/* Sections */
.jumbotron{
    margin-top: 80px;
}

.well p {
    margin-left: 2em; 
    text-indent: -2em;
}
